.cache/
.env
.env.development.local
.env.local
.env.production.local
.env.test.local
.eslintcache
.node_repl_history
.npm
.stylelintcache
*.lcov
*.log
*.pid
*.pid.lock
*.seed
*.tsbuildinfo
build/
coverage/
esbuild-meta.json
logs
node_modules/
node_modules/
npm-debug.log*
pids
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.pytype/
