:root {
    /* Border radius */
    --winter-border-radius-s: 0.1875rem;
    --winter-border-radius-m: 0.25rem;
    --winter-border-radius-l: 0.5rem;
    --winter-border-radius-xl: 1rem;
    --winter-border-radius-circle: 50%;
    --winter-border-radius-pill: 9999px;

    /* Elevation */
    --winter-shadow-color-hsl: 261, 32%, 28%;
    --winter-shadow-xs: 1px 1px 1px 0 hsl(var(--winter-shadow-color-hsl), 0.2),
        0 0 10px 0 hsl(var(--winter-shadow-color-hsl), 0.1);
    --winter-shadow-s: 3px 3px 2px 0 hsl(var(--winter-shadow-color-hsl), 0.2),
        0 0 10px 0 hsl(var(--winter-shadow-color-hsl), 0.15);
    --winter-shadow-m: 6px 6px 3px 0 hsl(var(--winter-shadow-color-hsl), 0.3),
        0 0 10px 0 hsl(var(--winter-shadow-color-hsl), 0.2);
    --winter-shadow-l: 10px 10px 3px 0 hsl(var(--winter-shadow-color-hsl), 0.3),
        0 0 10px 0 hsl(var(--winter-shadow-color-hsl), 0.2);

    /* Generic spacing */
    --winter-spacing-xxxs: 0.125rem;
    --winter-spacing-xxs: 0.25rem;
    --winter-spacing-xs: 0.5rem;
    --winter-spacing-s: 0.75rem;
    --winter-spacing-m: 1rem;
    --winter-spacing-l: 1.25rem;
    --winter-spacing-xl: 1.75rem;
    --winter-spacing-xxl: 2.25rem;
    --winter-spacing-xxxl: 3rem;
    --winter-spacing-xxxxl: 4.5rem;

    /* Transitons/duration */
    --winter-duration-xs: 50ms;
    --winter-duration-s: 150ms;
    --winter-duration-m: 250ms;
    --winter-duration-l: 500ms;
    --winter-duration-xl: 1000ms;

    /* Typography */
    --winter-font-serif: "Nunito", Georgia, "Times New Roman", serif;
    --winter-font-sans: "Nunito Sans", system-ui, -apple-system,
        BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
        "Open Sans", "Helvetica Neue", sans-serif;
    --winter-font-mono: "IBM Plex Mono", ui-monospace, SFMono-Regular, SF Mono,
        Menlo, Consolas, Liberation Mono, monospace;
    --winter-font-decorative: "Space Grotesk", system-ui;

    --winter-font-size-base: 20px;
    --winter-font-size-xxs: 0.625rem;
    --winter-font-size-xs: 0.75rem;
    --winter-font-size-s: 0.875rem;
    --winter-font-size-m: 1rem;
    --winter-font-size-l: 1.25rem;
    --winter-font-size-xl: 1.5rem;
    --winter-font-size-xxl: 1.75rem;
    --winter-font-size-xxxl: 2rem;
    --winter-font-size-xxxxl: 2.5rem;
    --winter-font-size-xxxxxl: 3rem;

    --winter-font-weight-light: 300;
    --winter-font-weight-normal: 400;
    --winter-font-weight-semibold: 500;
    --winter-font-weight-bold: 700;

    --winter-letter-spacing-xs: -0.03em;
    --winter-letter-spacing-s: -0.015em;
    --winter-letter-spacing-m: normal;
    --winter-letter-spacing-l: 0.075em;
    --winter-letter-spacing-xl: 0.15em;

    --winter-line-height-xs: 1;
    --winter-line-height-s: 1.4;
    --winter-line-height-m: 1.8;
    --winter-line-height-l: 2.2;
    --winter-line-height-xl: 2.6;

    /* Focus */
    --winter-focus-outline-color: var(--color-not-quite-black);
    --winter-focus-outline: 1px solid var(--focus-outline-color);
    --winter-focus-outline-offset: 2px;

    /* Page colors */
    --winter-bg: var(--winter-white);
    --winter-fg: var(--winter-not-quite-black);

    /* <header> and <nav> */
    --winter-header-font: var(--winter-font-decorative);
    --winter-header-font-size: var(--winter-font-size-l);
    --winter-header-font-weight: var(--winter-font-weight-normal);
    --winter-header-line-height: var(--winter-line-height-m);
    --winter-header-icon-size: var(--winter-font-size-xxl);
    --winter-header-block-spacing-top: 2rem;
    --winter-header-block-spacing-bottom: 0rem;
    --winter-header-bg: transparent;
    --winter-header-fg: var(--winter-purple-1);
    --winter-header-divider: 0.15rem solid var(--winter-purple-1);
    --winter-header-name-font-size: var(--winter-font-size-xxxxl);
    --winter-header-name-font-weight: var(--winter-font-weight-bold);

    /* <footer> */

    /* <h1>-<h6> */
    --winter-heading-spacing: var(--winter-spacing-xxl);
    --winter-heading-fg: var(--winter-purple-1);
    --winter-heading-font: var(--winter-font-decorative);
    --winter-heading-font-weight: var(--winter-font-weight-semibold);
    --winter-heading-line-height: var(--winter-line-height-l);
    --winter-heading-link-fg: var(--winter-teal-4);

    /* Inline content */

    /* <a> */
    --winter-link-fg: var(--color-mint-600);
    --winter-link-bg: transparent;
    --winter-link-decoration: underline;
    --winter-link-hover-fg: var(--color-pink-600);
    --winter-link-hover-bg: transparent;
    --winter-link-hover-decoration: underline;

    /* <code> */
    --winter-code-font-size: 90%;
    --winter-code-padding: 0.15em 0.5em 0.15em;
    --winter-code-fg: var(--winter-white);
    --winter-code-bg: var(--winter-not-quite-black);
    --winter-code-border-radius: var(--winter-border-radius-s);

    /* <kbd> */
    --winter-kbd-font: var(--winter-font-decorative);
    --winter-kbd-font-size: 85%;
    --winter-kbd-padding: 0.15em 0.5em 0.15em;
    --winter-kbd-fg: var(--winter-white);
    --winter-kbd-bg: var(--color-purple-600);
    --winter-kbd-combinator-fg: var(--color-gray-600);
    --winter-kbd-border-radius: var(--winter-border-radius-s);

    /* <mark> */
    --winter-mark-fg: inherit;
    --winter-mark-bg: var(--color-yellow-100);

    /* <abbr> */
    --winter-abbr-border: 0.1em dashed
        color-mix(in srgb, currentColor 40%, white);

    /* Block content */
    --winter-block-spacing: var(--winter-spacing-l);

    /* <pre> */
    --winter-pre-font-size: var(--winter-font-size-m);
    --winter-pre-line-height: var(--winter-line-height-s);
    --winter-pre-padding: 1rem;
    --winter-pre-fg: var(--winter-white);
    --winter-pre-bg: var(--winter-not-quite-black);
    --winter-pre-scrollbar: var(--color-gray-500);
    --winter-pre-scrollbar-hover: var(--winter-purple-3);

    /* <ul>, <ol>, <li> */
    --winter-list-indent: var(--winter-spacing-m);
    --winter-list-spacing: var(--winter-spacing-xxs);

    /* <dl>, <dt>, <dd> */
    --winter-desc-list-block-spacing: var(--winter-spacing-m);
    --winter-desc-list-padding: var(--winter-spacing-s);
    --winter-desc-term-font: var(--winter-font-decorative);
    --winter-desc-term-font-size: var(--winter-font-size-l);
    --winter-desc-term-fg: var(--winter-teal-1);

    /* <table> */
    --winter-table-font-size: var(--winter-font-size-m);
    --winter-table-border: var(--color-purple-200);
    --winter-table-heading-border: var(--winter-purple-2);
    --winter-table-padding: var(--winter-spacing-xxs) var(--winter-spacing-xs);
    --winter-table-striped-bg: var(--color-purple-50);
    --winter-table-hover-bg: var(--color-purple-100);

    --table-border-color: var(--color-purple-4);
    --table-heading-font-weight: 600;
    --table-heading-fg: inherit;
    --table-heading-bg: var(--color-purple-5);
    --table-cell-padding: 0.75em 1em;
    --table-cell-border: 1px solid var(--table-border-color);
    --table-row-bg: transparent;
    --table-row-even-bg: var(--color-purple-5);

    /* <blockquote> */
    --winter-blockquote-padding: var(--winter-spacing-m);
    --winter-blockquote-font: var(--winter-font-serif);
    --winter-blockquote-font-size: var(--winter-font-size-m);
    --winter-blockquote-fg: var(--winter-not-quite-black);
    --winter-blockquote-bg: var(--color-white);

    /* <hr> */
    --winter-hr-border: 0.15rem solid var(--winter-purple-3);

    /* Markdown extensions */

    /* .admonition */
    --winter-admonition-font: var(--winter-font-serif);
    --winter-admonition-font-size: var(--winter-font-size-m);
    --winter-admonition-fg: var(--winter-fg);
    --winter-admonition-bg: var(--winter-bg);
    --winter-admonition-accent: var(--winter-teal-1);
    --winter-admonition-icon: "info";
    --winter-admonition-padding: var(--winter-spacing-xs)
        var(--winter-spacing-s);
    --winter-admonition-title-font: var(--winter-font-decorative);
    --winter-admonition-title-font-size: var(--winter-font-size-l);
    --winter-admonition-body-spacing: var(--winter-spacing-s);

    --winter-admonition-note-accent: var(--winter-teal-1);
    --winter-admonition-note-fg: var(--winter-admonition-fg);
    --winter-admonition-note-bg: var(--winter-bg);
    --winter-admonition-note-icon: "stylus";
    --winter-admonition-info-accent: var(--winter-teal-2);
    --winter-admonition-info-fg: var(--winter-admonition-fg);
    --winter-admonition-info-bg: var(--winter-bg);
    --winter-admonition-info-icon: "info";
    --winter-admonition-tip-accent: var(--winter-teal-2);
    --winter-admonition-tip-fg: var(--winter-admonition-fg);
    --winter-admonition-tip-bg: var(--winter-bg);
    --winter-admonition-tip-icon: "lightbulb";
    --winter-admonition-success-accent: var(--color-green-400);
    --winter-admonition-success-fg: var(--winter-admonition-fg);
    --winter-admonition-success-bg: var(--winter-bg);
    --winter-admonition-success-icon: "check";
    --winter-admonition-question-accent: var(--color-mint-400);
    --winter-admonition-question-fg: var(--winter-admonition-fg);
    --winter-admonition-question-bg: var(--winter-bg);
    --winter-admonition-question-icon: "help";
    --winter-admonition-warning-accent: var(--color-yellow-300);
    --winter-admonition-warning-fg: var(--winter-admonition-fg);
    --winter-admonition-warning-bg: var(--winter-bg);
    --winter-admonition-warning-icon: "warning";
    --winter-admonition-failure-accent: var(--color-red-500);
    --winter-admonition-failure-fg: var(--winter-admonition-fg);
    --winter-admonition-failure-bg: var(--winter-bg);
    --winter-admonition-failure-icon: "close";
    --winter-admonition-danger-accent: var(--color-red-600);
    --winter-admonition-danger-fg: var(--winter-admonition-fg);
    --winter-admonition-danger-bg: var(--winter-bg);
    --winter-admonition-danger-icon: "report";
    --winter-admonition-bug-accent: var(--color-violet-500);
    --winter-admonition-bug-fg: var(--winter-admonition-fg);
    --winter-admonition-bug-bg: var(--winter-bg);
    --winter-admonition-bug-icon: "bug_report";
    --winter-admonition-example-accent: var(--color-purple-500);
    --winter-admonition-example-fg: var(--winter-admonition-fg);
    --winter-admonition-example-bg: var(--winter-bg);
    --winter-admonition-example-icon: "developer_guide";
    --winter-admonition-quote-accent: var(--color-gray-600);
    --winter-admonition-quote-fg: var(--winter-admonition-fg);
    --winter-admonition-quote-bg: var(--winter-bg);
    --winter-admonition-quote-icon: "format_quote";
    --winter-admonition-fairy-accent: var(--color-pink-400);
    --winter-admonition-fairy-fg: var(--winter-admonition-fg);
    --winter-admonition-fairy-bg: var(--winter-bg);
    --winter-admonition-fairy-icon: "🧚";

    /* footnotes */
    --winter-footnote-font-size: var(--winter-font-size-s);
    --winter-footnote-fg: var(--color-gray-800);
}
